data/w08/socket_buffer_matrix_lowbuf/rate_*_rcvbuf_*_run*.csv filter=lfs diff=lfs merge=lfs -text
data/w08/socket_buffer_tiny/rate_*_rcvbuf_*_run*.csv filter=lfs diff=lfs merge=lfs -text
data/w08/socket_buffer_txrx_matrix/rate_*_rcvbuf_*_sndbuf_*_run*.csv filter=lfs diff=lfs merge=lfs -text
data/w08/socket_buffer_txrx_highrate/rate_*_rcvbuf_*_sndbuf_*_run*.csv filter=lfs diff=lfs merge=lfs -text
